<div id="default">
  <div id="slider1_container" style="position: relative; top: 0px; left: 0px; width: 500px; height: 200px; overflow: hidden;margin: auto; ">


    <!-- Slides Container -->
    <div id="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 600px; height: 300px; overflow: hidden;">



      <div>
        <%= image_tag "3.jpg" %>
      </div>


    </div>


  </div>
</div>
