/! /#default
/! /  = render 'slider'
/! /#all_cat
/! /    - @categories.each do |category|
/! /      span.category style=(" box-shadow: 5px 5px 25px #666; float: left; margin: 20px; width:250px;  height: 350px; border: solid 1px #fff; border-radius: 25px; overflow: hidden")
/! /        span.product-image
/! /          = image_tag category.products.last.avatar.url(:medium)
/! /      p.product-name style=("margin: 0 0 0 10px")
/! /        = category.category_name
/! /      p.product-name style=("margin: 0 0 0 10px")
/! /        = link_to 'View All Products', category_path(category)
/! /        /= link_to 'View All Products', viewproduct_path(:catid => category)
/! /
/! /      div style=("clear: both")
.bxslider
  = image_tag 'carousel/banner-1.jpg'
  = image_tag 'carousel/banner-4.jpg'
section.main-content
  .row
    .span12
      .row
        .span12
          h4.title
            /! FEATURE PRODUCTS +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
            span.pull-left
              span.text
                span.line
                  | Feature
                  strong Products
          #myCarousel.myCarousel.carousel.slide
            .carousel-inner
              - count = 1
              - Product.all.each do |product|
                - if count <= 6
                  .active.item
                    ul.thumbnails
                      li.span3
                        .product-box
                          span.sale_tag
                          p= image_tag product.avatar.url(:medium)
                          = link_to product.product_name, '#', class: 'title'
                          br/
                          = link_to 'View Full Detail of  Product', category_product_path(product.category_id, product), class: 'category'
                          br/
                          p.category= link_to product.category.try(:category_name), category_path(product.category_id)
                          p.price
                            | $#{product.unit_price}
                    - count = count + 1
    br/
    .row
      .span12
        h4.title
          /! Latest PRODUCTS +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
          span.pull-left
            span.text
              span.line
                | Latest
                strong Products
          span.pull-right
            a.left.button data-slide="prev", href: "#myCarousel-2" 
            a.right.button data-slide="next", href: "#myCarousel-2" 
        #myCarousel-2.myCarousel.carousel.slide
          .carousel-inner
            .active.item
              ul.thumbnails
                - count1 =  1
                - Product.all.order('created_at DESC').each do |product|
                  - if count1 <= 6
                    li.span3
                      .product-box
                        span.sale_tag
                        p= image_tag product.avatar.url(:medium)
                    - count1 = count1 + 1
      .row.feature_box
        .span4
          .service
            .responsive
              = image_tag "feature_img_2.png"
              h4
                | MODERN
                strong DESIGN
              /! <p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p
        .span4
          .service
            .customize
              = image_tag "feature_img_1.png"
              h4
                | FREE
                strong SHIPPING
              /! <p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p
        .span4
          .service
            .support
              = image_tag "feature_img_3.png"
              h4
                | 24/7 LIVE
                strong SUPPORT
              /! <p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p
