<div id="new">
    <div style="margin: 10px 0 0 350px;">
        <h1>New order</h1>
    </div>

    <%= render 'form' %>

    <div style="margin: 10px 0 0 350px;">
        <%= link_to 'Back', orders_path %>
    </div>
</div>