<%= render 'default/slider' %>

<div id="all_cat">
  <% @categories.each do |category| %>
   <span class="category">
     <span class="product-image">
        <%= image_tag category.products.last.avatar.url(:medium) %>
      </span>
     <p class="product-name"><%= category.category_name %></p>
     <p class="product-name"><%= link_to 'View All Products', category_path(category) %></p>

    </span>
  <% end %>
  <div class="clearfix"></div>
</div>





