<div id="show">
  <div style="margin: 10px 0 0 350px;">
        <h1>New product</h1>
  </div>

        <%= render 'form' %>
  <div style="margin: 10px 0 0 350px;">
        <%= link_to 'Back', products_path %>
  </div>
</div>