<div id="all_products">
  <%#= @products.inspect  %>
  <% @catid.each do |product| %>

    <span class="products" style=" box-shadow: 5px 5px 25px #666; float: left; margin: 20px; width:250px;  height: 370px; border: solid 1px #fff; border-radius: 25px; overflow: hidden">

      <span class="product-image">
        <%= image_tag product.avatar.url(:medium) %>
      </span>
      <p class="product-name" style="margin-left: 10px">
        <%= product.product_name %>

        <br>
        Rs. <%= product.unit_price %><br>
        <%= link_to 'View Full Detail of  Product', viewfullproduct_path(:product => product) %>
       <%#= product.category.category_name %>
        <%#= link_to 'view', product %>
      </p>
    </span>

  <% end %>
  <div style="clear: both"></div>


</div>